.navbar-teamwise {
  border-bottom-color: $gray-lighter;
  margin-bottom: 0;

  .navbar-nav > li > a {
    color: $gray;
    transition: .1s;

    &:hover {
      //color: $brand-primary;
      background-color: $gray-lighter;
    }
  }
  
  .navbar-nav {
    margin-left: 10px; 
  }
  
  .nav .open {
    > a {
      //color: $brand-primary;
      background-color: $gray-lighter;
    }
  }
  
  form[role="search"] {
    .form-group {
      margin-bottom: 0;
      
      input {
      
      } 
    }
  }
}
