<div class="container">
  <header class="text-center">
    <h1>Right now we are developing first version of Remark</h1>
    <h3>You can check the API or try dashboard demo</h3>
  </header>

  <div class="row">
    <div class="col-xs-3 col-sm-offset-3">
      <a href="//docs.remark.apiary.io/" class="btn btn-primary btn-lg btn-block" target="_blank">API</a>
    </div>
    <div class="col-xs-3">
      <a href ui-sref="app" class="btn btn-success btn-lg btn-block">Dashboard demo</a>
    </div>
  </div>
</div>