<section class="slide slide-big slide-welcome">
  <div class="container">
    <article>
      <aside>
        <h1>Платформа для реферального маркетинга</h1>

        <p class="lead">
          Мотивируем существующих клиентов приводить новых
        </p>

        <p>
          <a href="" class="btn btn-default">Попробовать демо</a>
          или
          <a href="">Узнать больше <i class="fa fa-angle-right"></i></a>
        </p>
      </aside>

      <aside>
        крутая пикча с графами и зависимостями
      </aside>
    </article>
  </div>
</section>

<section class="slide slide-what">
  <header class="slide-header">
    <div class="container">
      <h1>Реферальный маркетинг предлагает существующим клиентам приводить новых</h1>
    </div>
  </header>

  <article class="container">
    1111
  </article>
</section>

<section class="slide slide-not-working">
  <header class="slide-header">
    <div class="container">
      <h1>Но, увы, люди забывают посоветовать друзьям</h1>
    </div>
  </header>

  <article class="container">
    <h1 class="text-center">Поэтому не забывайте напоминать</h1>
  </article>
</section>

<section class="slide slide-why-saas">
  <header class="slide-header">
    <div class="container">
      <h1>Но разве уследишь за всеми клиентами?</h1>
    </div>
  </header>

  <article class="container">
    <h1 class="text-center">Нет, и именно поэтому нужна платформа</h1>
  </article>
</section>

<section class="slide slide-why-remark">
  <header class="slide-header">
    <div class="container">
      <h1>Почему Remark?</h1>
    </div>
  </header>

  <article class="container">
    <h1 class="text-center">Потому что у нас есть возможности</h1>
  </article>
</section>

<section class="slide slide-stats">
  <header class="slide-header">
    <div class="container">
      <h1>Стоит ли вам этим воспользоваться?</h1>
    </div>
  </header>

  <article class="container">
    <h1 class="text-center">Да, потому что рекомендации — лучший канал привлечения</h1>
  </article>
</section>