<section class="project">
  <header class="row">
    <h3 class="col-xs-9">
      <span>
        <a ng-href="#/app/team/1">Teamwise</a> / Web
      </span>
    <h3 class="col-xs-3 text-right">
      <a ng-href="#/app/team/settings"><i class="fa fa-cog"></i></a>
    </h3>
  </header>

  <section class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              Сводка проекта
            </div>
          </div>
        </div>
        <div class="panel-body row">
          <div class="col-xs-12">
            <div class="team-info row">
              <div class="col-xs-3">
                <p><a href="#/app/team/project/branches"><span>2</span> ветки</a></p>
              </div>

              <div class="col-xs-3">
                <p><a href="#/app/team/project/tickets"><span>37</span> задач</a></p>
              </div>

              <div class="col-xs-3">
                <p><a href="#/app/team/project/members"><span>2</span> участника</a></p>
              </div>

              <div class="col-xs-3">
                <p><a href="#/app/team/groups"><span>3</span> хуйни</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-xs-12">
      <header class="row">
        <h3 class="col-xs-9">
          <span>
            Обновления
          </span>
        </h3>
      </header>

      <section class="row">
        <div class="col-xs-12">
          <div class="updates row">
            <div class="col-xs-12">
              <div class="item">
                <p><span class="date">22:10</span> <a ng-href="#/app/team/member">Алексей</a> оставил комментарий к <a ng-href="#/app/team/project/ticket">таску #1</a></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="item">
                <p><span class="date">16:55</span> <a ng-href="#/app/team/member">Олег</a> пометил <a ng-href="#/app/team/project/ticket">таск #1</a> как <span class="label label-success">Done</span></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="item">
                <p><span class="date">15:30</span> <a ng-href="#/app/team/member">Влад</a> пометил <a ng-href="#/app/team/project/ticket">таск #2</a> как <span class="label label-primary">In Progress</span></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="item">
                <p><span class="date">15:10</span> <a ng-href="#/app/team/member">Алексей</a> создал <a ng-href="#/app/team/project/ticket">таск #1</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

</section>
