<section class="tasks">
  <header class="row">
    <h3 class="col-xs-9">
      <span>
        <a ng-href="#/app/team/1">Teamwise</a> / <a ng-href="#/app/projects/view">Web</a> / <a ui-sref="app.project.tasks">Задачи</a> / #1
      </span>
  </header>

  <section class="row">
    <div class="col-xs-8">
      <div class="panel panel-default information">
        <div class="panel-heading"><strong>Не работает регистрация</strong></div>

        <div class="panel-body">
          <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          </p>
        </div>
      </div>

      <div class="panel panel-default comments">
        <div class="panel-heading">Активность</div>

        <div class="panel-body">
          <div class="media">
            <a class="pull-left" href="#/app/teams/users/1">
              <img src="http://api.randomuser.me/portraits/men/21.jpg" class="img-circle" width="50" alt="Инга">
            </a>
            <div class="media-body">
              <p class="media-heading"><a ng-href="#/app/teams/users/1">Олег Л.</a> оставил комментарий:</p>
              <p>Охуенный таск-менеджер!</p>
              <span class="date">21:44, 21 июня 2014</span>
            </div>
          </div>

          <div class="media">
            <a class="pull-left" href="#/app/teams/users/2">
              <img src="http://api.randomuser.me/portraits/men/1.jpg" class="img-circle" width="50" alt="Инга">
            </a>
            <div class="media-body">
              <p class="media-heading"><a ng-href="#/app/teams/users/2">Алексей В.</a> изменил статус с <span class="label label-info">Новый</span> на <span class="label label-primary">В Процессе</span></p>
              <span class="date">21:44, 21 июня 2014</span>
            </div>
          </div>

          <div class="nl2br"></div>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-xs-12">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-4 overview">
      <div class="panel panel-default">
        <div class="panel-heading">Обзор</div>

        <ul class="list-group">
          <li class="list-group-item default">Дата создания: <span class="date">2014-02-19 06:04</span></li>
          <li class="list-group-item default">Автор: <a ng-href="#/app/teams/users/2">Алексей В.</a></li>
          <li class="list-group-item">Исполнитель: <a ng-href="#/app/teams/users/1">Олег Л.</a></li>
          <li class="list-group-item">Приоритет: <span class="priority">Наивысший</span></li>
          <li class="list-group-item">Статус: <span class="label label-primary">В Процессе</span></li>
          <li class="list-group-item">Ветка: <span class="milestone">Баги</span></li>
        </ul>
      </div>
    </div>
  </section>
</section>
