.project {
  h3 span {
    @include link-with-border();
  }

  .updates {
    margin-left: 5px;

    .item {
      @include link-with-border();
      margin-bottom: 10px;
      border-bottom: 1px solid $border;

      .date {
        color: #999;
      }
    }
  }
}

.tasks {
  h3 span {
    @include link-with-border();
  }

  .overview {
    @include link-with-border();

    ul {
      li {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        transition: all .1s;

        &:hover {
          background: #f9f9f9;
          cursor: pointer;
        }

        &.default {
          background: #f8f8f8;
          cursor: default;
        }

        span {
          color: #000;

          &.label {
            color: #fff;
          }
        }
      }
    }
  }

  .information {
    .panel-body {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .comments {
    textarea {
      resize: none;
    }

    .media {
      border-bottom: 1px solid $border;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: 0;
      }

      span {
        &.date {
          font-size: 12px;
          display: block;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .media-body {
        .media-heading {
          @include link-with-border();
        }

        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  table {
    @include link-with-border();

    tbody {
      tr {
        &.highest-priority {
          background: $highest-priority;

          &:hover {
            //background: lighten($highest-priority, 10%);
          }
        }

        &.high-priority {
          background: $high-priority;

          &:hover {
            //background: lighten($high-priority, 10%);
          }
        }

        &.low-priority {
          background: $low-priority;

          &:hover {
            //background: lighten($low-priority, 10%);
          }
        }

        &.lowest-priority {
          background: $lowest-priority;

          &:hover {
            //background: lighten($lowest-priority, 10%);
          }
        }


        &:hover {
          background: #f9f9f9;

          td {
            @include link-without-border();

            .rowlink-skip {
              @include link-with-border($important-border: "false");
            }
          }
        }
      }
    }
  }
}
