<div class="container">
  <nav class="sidebar" style="display: none;">
    <ul class="nav nav-pills nav-stacked" ui-view="viewNav">
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <h3>Навигация</h3>
      </li>
      <li ui-sref-active="active">
        <a href="" ui-sref="app">
          <i class="fa fa-users"></i> Панель
        </a>
      </li>
      <li>
        <h3>Настройки</h3>
      </li>
      <li ui-sref-active="active">
        <a href="" ui-sref="app.settings">
          <i class="fa fa-wrench"></i> Аккаунт
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="" ui-sref="app.api">
          <i class="fa fa-cogs"></i> API
        </a>
      </li>
    </ul>
  </nav>
  <section class="content" ui-view="viewDash">
    <header class="row">
      <h3 class="col-sm-12">
        Ваши команды
      </h3>
    </header>

    <section class="teams">
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="team in dashboard">
          <div class="panel panel-default team">
            <div class="panel-body text-center">
              <h3><a ng-href="#/app/team/{{team.id}}">{{team.title}}</a></h3>
            </div>
            <div class="panel-footer text-center">
              <p><span>{{team.members}}</span> участника</p>
              <p><span>{{team.projects}}</span> проектов</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <header class="row">
      <h3 class="col-sm-12">
        Ваши проекты
      </h3>
    </header>

    <section class="teams">
      <div class="row">
        <div class="col-xs-12">
            <div class="projects row">
              <div class="col-sm-6 col-md-4">
                <div class="panel panel-default project">
                  <div class="panel-body text-center">
                    <h3><a ui-sref="app.project.details">Web</a></h3>
                  </div>
                  <div class="panel-footer text-center">
                    <p><span>27</span> задач</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="panel panel-default project">
                  <div class="panel-body text-center">
                    <h3><a ui-sref="app.project.details">iOS</a></h3>
                  </div>
                  <div class="panel-footer text-center">
                    <p><span>10</span> задач</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </section>
  
  <section class="right-sidebar">
    <header class="row">
      <h3 class="col-sm-12">
        Ваши задачи
      </h3>
    </header>
    
    <section class="row">
      <div class="col-xs-12">
        <div class="updates row">
          <div class="col-xs-12">
            <div class="item">
              <p><span class="date">22:10</span> <a ng-href="#/app/team/member">Алексей</a> оставил комментарий к <a ng-href="#/app/team/project/ticket">таску #1</a></p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item">
              <p><span class="date">16:55</span> <a ng-href="#/app/team/member">Олег</a> пометил <a ng-href="#/app/team/project/ticket">таск #1</a> как <span class="label label-success">Done</span></p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item">
              <p><span class="date">15:30</span> <a ng-href="#/app/team/member">Влад</a> пометил <a ng-href="#/app/team/project/ticket">таск #2</a> как <span class="label label-primary">In Progress</span></p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="item">
              <p><span class="date">15:10</span> <a ng-href="#/app/team/member">Алексей</a> создал <a ng-href="#/app/team/project/ticket">таск #1</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
